@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 346 56% 93%;
    --foreground: 289 36% 10%;
    --card: 0 0% 100%;
    --card-foreground: 289 36% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 289 36% 10%;
    --primary: 346 100% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 346 50% 96%;
    --secondary-foreground: 346 100% 41%;
    --muted: 346 30% 90%;
    --muted-foreground: 346 10% 45%;
    --accent: 289 36% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 346 20% 85%;
    --input: 346 30% 90%;
    --ring: 346 100% 41%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1.5rem;
  }

  .dark {
    --background: 289 36% 8%;
    --foreground: 346 50% 96%;
    --card: 289 36% 12%;
    --card-foreground: 346 50% 96%;
    --popover: 289 36% 8%;
    --popover-foreground: 346 50% 96%;
    --primary: 346 100% 60%;
    --primary-foreground: 346 100% 10%;
    --secondary: 289 36% 15%;
    --secondary-foreground: 346 100% 60%;
    --muted: 289 36% 20%;
    --muted-foreground: 346 20% 65%;
    --accent: 346 50% 96%;
    --accent-foreground: 289 36% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 289 36% 20%;
    --input: 289 36% 20%;
    --ring: 346 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-tap-highlight-color: transparent;
  }
}
